@import url(https://fonts.googleapis.com/css?family=Lat 	o:400,900,300,300italic,400italic,900italic);

body {
	background: #7b4397; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
	
	font-family: 'Lato', arial, helvetica, sans-serif;
	font-size: 1.4rem;	
}

.wrapper {
	margin: 12em auto 2em auto;
	width:80%;
	position:relative;
	perspective: 1000px;
}

p {
	color: white;
	text-align: center;
}

button 
{
	cursor: hand;
	background-color: red;
	color: white;
	font:weight: 900;
	font-size: 1.2rem;
	border: default;
	padding:1em 3em;
	margin: 2em auto;
	display:block;
	
	/*first transition eases in the background transition in half a second
	second one eases in in .2 seconds*/
	transition: background .5s ease-in, transform .2s ease-out; 
}

button:hover {
	background: green;
	transform: scale(1.1) rotateX(-25deg); //scale up 1.1 times the size 
}




