@import url(https://fonts.googleapis.com/css?family=Lat 	o:400,900,300,300italic,400italic,900italic);

body {
	background-color: blue; 
	background-size: cover;
	font-family: 'Lato', arial, helvetica, sans-serif;
	font-size: 1.4rem;	
}

.wrapper {
	margin: 12em auto 2em auto;
	width:80%;
	position:relative;
	perspective: 1000px;
}

p {
	color: white;
	text-align: center;
}

button {
	cursor: hand;
	background-color: green;
	color: white;
	font:weight: 900;
	font-size: 1.2rem;
	border: default;
	padding:1em 3em;
	margin: 2em auto;
	display:block;
	
	//first transition eases in the background transition in half a second
	transition: background .5s ease-in, transform .2s ease-out; 
	
}

button:hover {
	background: #c61140;
	transform: scale(1.4) rotateX(45deg); //scale up 1.4 times the size 
}




